@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --color-bg: #050505;
  --color-text: #FFFFFF;
  --color-accent: #CCFF00;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Space Grotesk', sans-serif;
  overflow-x: hidden;
}

::selection {
  background: var(--color-accent);
  color: black;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border: 2px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #CCFF00;
}

.text-outline {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  color: transparent;
}

.text-outline-hover:hover {
  -webkit-text-stroke: 0px;
  color: #CCFF00;
}

.clip-path-slant {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}